NODE_ENV=development
PORT=3000

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_NAME=
API_BASE_URL=http://127.0.0.1:3000
CLIENT_CABINET_BASE_URL=http://127.0.0.1:4173
COMPANY_CABINET_BASE_URL=http://127.0.0.1:4174

JWT_SECRET=

DATABASE_URL=postgresql://tulip:tulip_dev_password@localhost:5432/tulip
